<h2>Disciplinas</h2>
<label>Nome:</label>
<input #title name="title" type="text" />
<br />
<label>Dia da semana:</label>
<input #dia name="dia" type="text" />
<br />
<label>Horário:</label>
<input #horario name="horario" type="text" />

<button
  (click)="
    tasks.add(title.value, dia.value, horario.value);
    title.value = '';
    dia.value = '';
    horario.value = ''
  "
>
  +
</button>
<hr />
<table>
  <tr>
    <td>Nome</td>

    <td>Dia da semana</td>

    <td>Horário</td>
  </tr>
  <tr *ngFor="let task of tasks.getList(); index as i">
    <td>
      {{ task.title }}
    </td>

    <td>
      {{ task.dia }}
    </td>

    <td>
      {{ task.horario }}
      <button (click)="tasks.remove(i)">-</button>
    </td>
  </tr>
</table>
<hr />
